<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Definition for textEditor bean -->
	<bean id="textEditor" class="springtest.TextEditor">
		<property name = "name" value = "liuchunqing"></property>
		<property name = "teacher" value = "lumia"></property>
		<property name = "spellChecker" ref = "spellChecker"></property>
	</bean>
	
	<bean id="spellChecker" class="springtest.SpellChecker">
	</bean>


</beans>